.navbar {
  border-bottom: $navbar-border-bottom;
  box-shadow: $navbar-box-shadow;

  @include media-breakpoint-down(md) {
    width: 100vw;
  }
}

.input-group-navbar {
  min-width: 240px;

  .form-control,
  .btn {
    height: $input-height-lg;
    background: $navbar-input-bg;
    box-shadow: none;
    border: 0;
    padding: $input-padding-y-lg $spacer*0.75;

    &:focus {
      background: $navbar-input-bg;
      box-shadow: none;
      outline: 0;
    }
  }

  .btn {
    color: inherit;
    transition: none;

    .lucide {
      width: 20px;
      height: 20px;
    }
  }
}

@include color-mode(dark) {
  .input-group-navbar {
    .form-control,
    .btn {
      background: $navbar-input-bg-dark;
  
      &:focus {
        background: $navbar-input-bg-dark;
      }
    }
  }
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-lg,
.navbar-expand > .container-md,
.navbar-expand > .container-sm,
.navbar-expand > .container-xl {
  padding-right: 0;
  padding-left: 0;
}

.navbar-bg {
  background: $navbar-bg;
}

@include color-mode(dark) {
  .navbar-bg {
    background: $navbar-bg-dark;
  }
}

.navbar-align {
  body:not([data-sidebar-position=right]) & {
    margin-left: auto;
  }
  html[data-sidebar-position=right] & {
    margin-right: auto;
  }
}

.navbar-brand {
  font-weight: $navbar-brand-font-weight;
  font-size: $navbar-brand-font-size;
  padding: $navbar-brand-padding-y $navbar-brand-padding-x;
  color: $navbar-brand-color;
  display: block;

  svg,
  .lucide {
    color: $navbar-brand-icon-color;
    height: 24px;
    width: 24px;
    margin-left: -0.15rem;
    margin-right: 0.375rem;
    margin-top: -0.375rem;
  }
}

.nav-icon,
.nav-flag {
  padding: .1rem .8rem;
  display: block;
  font-size: 1.5rem;
  transition: $transition-appearance-fast;
  line-height: 1.4;

  &:after {
    display: none !important;
  }

  &:hover,
  &.active {
    color: $primary;
  }

  svg,
  .lucide {
    width: 20px;
    height: 20px;
  }
}

.nav-item {
  .indicator {
    background: $primary;
    box-shadow: $box-shadow;
    border-radius: 50%;
    display: block;
    height: 18px;
    width: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: -8px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: 0.675rem;
    color: $white;
  }

  &:hover .indicator {
    top: -4px;
  }

  a:focus {
    outline: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar .avatar {
    max-height: 47px;
  }
}

@include media-breakpoint-down(sm) {
  .navbar {
    padding: 0.75rem;
  }

  .nav-icon {
    padding: .1rem .75rem;
  }

  .dropdown,
  .dropleft,
  .dropright,
  .dropup {
    position: inherit;
  }

  .navbar-expand .navbar-nav .dropdown-menu-lg {
    min-width: 100%;
  }

  .nav-item .nav-link:after {
    display: none;
  }
}

.nav-flag img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.navbar-nav {
  direction: ltr;
}

.navbar input {
  direction: ltr;
}

.navbar .form-control {
  max-width: 200px;
}

// Theme toggle icon
.nav-theme-toggle {
  .nav-theme-toggle-light {
    display: none;
  }
  .nav-theme-toggle-dark {
    display: inline-block;
  }
}

@include color-mode(dark) {
  .nav-theme-toggle {
    .nav-theme-toggle-light {
      display: inline-block;
    }
    .nav-theme-toggle-dark {
      display: none;
    }
  }
}